<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <!-- jquery cdn -->
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
</head>
<body>
    private Long user_uniqeId;
    private Long user_id;
    private String user_pw;
    private String user_email;
    private String user_PhoneNum;
    private String user_Name;
<!-- action속성: form에 작성한 데이터를 어디로 보낼지 지정 -->
<form action="/register/save" method="post">
    <!-- name속성: 서버로 전송할 때 변수이름의 역할 -->
    아이디: <input type="text" name="user_id"> <br>
    이메일: <input type="text" name="userEmail"><br>
    비밀번호: <input type="password" name="user_pw"><br>
    전화번호: <input type="text" name = "user_PhoneNum"><br>
    이름: <input type="text" name="user_Name"> <br>
    <input type="submit" value="회원가입">

</form>
</body>
</html>